body {
	overflow: hidden;
}

.trail-letter {
	position: absolute;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	filter: invert();
	opacity: 1;
	pointer-events: none;
	transition: opacity 1s ease-out, transform 1s ease-out;
	will-change: transform, opacity;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 0.1vw;
	height: 0.1vw;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #00808041;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #00575749;
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #0580803f transparent;
}
