@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');


body {
    background-color: rgba(170, 182, 178, 1);
    font-family: 'Josefin Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.infoPng {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.infoPng img {
    position: absolute;
    top: -60px;
    right: -240px;
    width: 24px;
    height: 24px;
    z-index: 1000;
}

.homebody {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.GameTitle {
    box-sizing: border-box;
    padding: 0px 30px 10px 30px;
    font-size: 4em;
    text-align: center;
    border-bottom: 1px solid black;
    /* letter-spacing: 0.2em; */
    width: 750px;
}

.NameTitle {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 30px 10px 30px;
    font-size: 2.5em;
    border-bottom: 1px solid black;
    letter-spacing: 4px;
    max-width: 1600px;
}

.UserID {
    display: flex;
    justify-content: center;
}

.UserID *{
    font-size: 20px;
}

.UserID input {
    border: none;
    font-family: 'Josefin Slab', serif;
    padding-left: 3em;
    padding-right: 3em;
    border-top-right-radius: 30em;
    border-bottom-right-radius: 30em;
    border-left: 2px solid rgba(170, 182, 178, 1);
    background-color: rgba(217, 217, 217, 1);
    font-size: 1.7 em;
}

.UserID input:focus {
    outline: none;
}

.LabelUsername {
    padding: 16px 30px 16px 30px;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 1);
    border-top-left-radius: 30em;
    border-bottom-left-radius: 30em;
}

.gameStart {
    min-width: 550px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Creat/join game screen stuff */

.IdFetch {
    margin-top: 20px;
    display: flex;
    gap: 90px;
}

.createGame,
.joinGame {
    all: unset;
    text-align: center;
    margin-top: 2em;
    background-color: rgba(217, 217, 217, 1);
    min-width: 350px;
    font-size: 1.3em;
    font-weight: 500;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
    border-radius: 5em;
    padding: 26px 50px 20px 50px;
    letter-spacing: 0.2em;
    box-shadow: 0px 2px 7px rgba(53, 53, 53, 0.311);
    cursor: pointer;
}

.createID,
.joinID {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Josefin Slab', serif;
    padding: .5em;
    border-radius: 90px;
    background-color: rgba(217, 217, 217, 1);
    gap: 10px;
    letter-spacing: .1em;
    font-size: 1.4em;
}

.idLabel {
    padding: 16px 5px 16px 30px;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 1);
    border-top-left-radius: 30em;
    border-bottom-left-radius: 30em;
}

.enteredGameID {
    letter-spacing: .2em;
    all: unset;
    border: none;
    font-family: 'Josefin Slab', serif;
    width: 180px;
}

.createID>img {
    height: 30px;
    width: 25px;
}

/* Waiting game start screen */

.wait-body {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waitMsg {
    margin-top: 50px;
    border-bottom: 1px solid black;
    line-height: 0.5;
    width: 80vw;
}

.waitMsg h1 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.wait-status {
    margin-top: 30px;
    display: flex;
    flex: 7;
}

.roomNready {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 2;
    gap: 20px;

}

.createID {
    margin-top: 10px;
    width: 80%;
}

.playerList {
    flex: 1;
}

.playerS {
    background-color: rgba(217, 217, 217, 1);
}

.readyButton {
    all: unset;
    background-color: rgba(217, 217, 217, 1);
    padding: 20px 30px;
    border-radius: 40px;
    font-size: 1.5em;
    box-shadow: 0px 2px 7px rgba(27, 27, 27, 0.32);
    cursor: pointer;
}


.playNback {
    margin-top: 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-right: 50px;
}

.createID img {
    transform: scale(1);
    transition: transform 0.6s ease, filter 2s;
}


.createID img:active {
    filter: brightness(0) saturate(100%) invert(38%) sepia(94%) saturate(548%) hue-rotate(210deg) brightness(99%) contrast(89%); /* Green color effect */
    transform: scale(1.2);
    
    transition: transform 0.2s ease, filter .01s;
}

.credits{
    position: fixed;
    bottom: 10px
}

.credits a{
    all: unset;
    cursor: pointer;
    font-weight: bold;
    color: rgb(39, 136, 120);
}