.wait-body {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waitMsg {
    margin-top: 50px;
    border-bottom: 1px solid black;
    line-height: 0.5;
}

.waitMsg h1 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.wait-status {
    margin-top: 30px;
    display: flex;
}

.roomNready {
    width: auto;
}