@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');


.boddy {
	margin-top: 90px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.gameUI {
	display: flex;
	width: 95vw;
	height: 70vh;
	background: #e4e2e2;
	border-radius: 7px;
	align-items: center;
}

.tabList {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 100px 5px;
	padding: 30px 5px;
	padding-right: 5px;
	border-right: rgb(143, 169, 160) 2px solid;
	box-sizing: border-box;
	height: 90%;
}

.titleBar {
	flex: 1;
	padding-bottom: 20px;
}

.timer {
	padding: 15px 40px;
	display: flex;
	font-size: 2em;
	background: #dbdbdb;
	box-shadow: 0px 0px 3.5px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
	letter-spacing: .2em;
	flex: 0.3;
}

.wordPanel {
	flex: 5;
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 30px;
	height: 70%;
	letter-spacing: 1.5em;
}

.typingPanel {

	font-family: 'Josefin Slab', serif;
	margin-top: 30px;
	padding: 20px 10px;
	font-size: 2em;
	letter-spacing: .8em;
	width: 80vw;
	background: #e4e2e2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	text-align: center;
	border: none;
	text-transform: uppercase;
}

.typingPanel {
	outline: none;
}

