
.Play {
    all: unset;
    margin-top: 2em;
    background-color: rgba(217, 217, 217, 1);
    font-size: 2em;
    font-weight: 500;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
    border-radius: 5em;
    padding: 26px 70px 20px 70px;
    letter-spacing: 0.2em;
    box-shadow: 0px 2px 7px rgba(53, 53, 53, 0.311);
    cursor: pointer;
}

.menuBar {
	gap: 20px;
	position: fixed;
	bottom: 0;
	left: 50%;
	font-size: 0.7em;
	transform: translate(-50%);
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(217, 217, 217, 1);
	padding: 15px 20px 5px 25px;
	letter-spacing: 0.3em;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow: 0px 2px 7px rgba(53, 53, 53, 0.311);
}

.menuBar .settings {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.menuBar .quits {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}