@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');


.boddy {
	margin-top: 90px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.gameUI {
	display: flex;
	width: 95vw;
	height: 70vh;
	background: #e4e2e2;
	border-radius: 7px;
	align-items: center;
}

.tabList {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 100px 5px;
	padding: 30px 5px;
	padding-right: 5px;
	border-right: rgb(143, 169, 160) 2px solid;
	box-sizing: border-box;
	height: 90%;
}

.titleBar {
	flex: 1;
	padding-bottom: 20px;
}

.timer {
	padding: 15px 40px;
	display: flex;
	font-size: 2em;
	background: #dbdbdb;
	box-shadow: 0px 0px 3.5px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
	letter-spacing: .2em;
	flex: 0.3;
}

.leaderBoard {
	background: #dbdbdb;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 26px;
	padding: 14px;
	margin: 20px;
	width: 75%;
	flex: 4;
}

.leaderLabel {
	letter-spacing: 0.2em;
	display: flex;
	justify-content: center;
	width: auto;
	border-bottom: 1px solid rgb(177, 177, 177);
	margin: 0px 20px 0px 22px;
	padding: 10px 0px;
}

.playerList {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.playerT {
	padding: 9px 9px 3px 25px;
	box-sizing: border-box;
	background: rgba(247, 247, 247, 0.35);
	border-radius: 14.1128px 10px 50px 14.11px;
	font-size: 1.5em;
}

.playerS {
	padding: 9px 9px 3px 25px;
	font-size: 1.2em;
	width: 70%;
	background: rgba(247, 247, 247, 0.35);
	border-radius: 14.1128px 10px 50px 14.11px;
}

.player1 {
	border: 2px solid rgba(198, 161, 27, 0.4);
}

.player2 {
	border: 1.5px solid rgba(202, 62, 62, 0.4);
}

.player3 {
	border: 1.2px solid rgba(99, 38, 115, 0.4);
}

.player4 {
	border: 1.2px solid rgba(0, 126, 63, 0.4);
}

.wordPanel {
	flex: 5;
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 30px;
	height: 70%;
	letter-spacing: 1.5em;
}

.typingPanel {

	font-family: 'Josefin Slab', serif;
	margin-top: 30px;
	padding: 20px 10px;
	font-size: 2em;
	letter-spacing: .8em;
	width: 80vw;
	background: #e4e2e2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	text-align: center;
	border: none;
	text-transform: uppercase;
}

.typingPanel {
	outline: none;
}

