.settingbody{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.settingsPanel {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	background: #d9d9d9;
	border-radius: 40.9497px;
    padding: 1.2em;
}

.settingLabel {
    border-bottom: black 1px solid;
    padding: 6px;
    font-size: 1.2em;
    letter-spacing: 2px;
}


.gameOptions{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 20px ;
    gap:20px;
}


.timerS, .difficultyS {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.timerOptions ,.difficultyOptions {
    user-select: none;
    cursor: pointer;
    display: flex;
    gap: 30px;
    color: rgb(153, 152, 152);
}

.activeoption{
    color: black;
    font-weight: 600;
}


.applyButton{
    user-select: none;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.applyChanges{
    all : unset;
    background-color: rgba(4, 4, 4, 0.768);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}